# Node modules
node_modules/

# Environment variables
.env

# Uploads folder (optional)
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS system files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/

# Build files
dist/

